* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

#tabs-container {
    width: 95vw;
    height: 5vh;
    border: 2px solid #00a4bd;
    margin-left: 10px;
    margin-bottom: 2px;
}

/* #main-game button {
    width: 100px;
    height: 50px;
} */

.inventory {
    display: flex;

    flex-direction: column;

    width: 20%;
    height: 100%;
    margin-left: 20px;
    border: 1px solid #00a4bd;
    padding-left: 5px;

    /* justify-content: center; */
    /* align-items: center; */
}
