* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
}

#main-container {
    width: 95vw;
    height: 80vh;
    display: flex;

    border: 2px solid #00A4BD;
    margin-left: 10px;
}

#main-game {
    display: flex;
    width: 70%;
    height: 100%;
    margin-left: 20px;
    border: 2px solid #00A4BD;
    padding-left: 10px;
}

#main-game button {
    width: 100px;
    height: 50px;
}

.inventory{

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    
    width: 20%;
    height: 100%;
    margin-left: 20px;
    border: 2px solid #00A4BD;
    padding-left: 10px;
}